@import "styles/variables.scss";

.container {
	margin: 0 auto;
	max-width: 115rem;
	overflow: hidden;
	position: relative;

	.slideshow {
		display: flex;
		flex-wrap: nowrap;

		.slide {
			display: flex;
			justify-content: center;
			min-width: 100%;
			padding: 1rem;

			.content {
				background: none;
				border: none;
				border-radius: 1rem;
				cursor: pointer;
				position: relative;
				transition: 0.3s ease all;

				&:hover,
				&:active {
					img {
						filter: brightness(0.5);
					}

					.description {
						justify-content: center;
						background: linear-gradient(
							0deg,
							rgba(0, 0, 0, 0.5) 10%,
							rgba(0, 0, 0, 0.2) 15%,
							rgba(0, 0, 0, 0) 90%
						);

						h2 {
							color: $main-text-color;
						}

						p {
							height: initial;
						}
					}
				}
			}

			img {
				border-radius: 1rem;
				height: 100%;
				object-fit: cover;
				transition: all 0.3s ease;
				vertical-align: top;
				width: 100%;
			}

			.description {
				align-items: center;
				background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0.9) 10%,
					rgba(0, 0, 0, 0.7) 15%,
					rgba(0, 0, 0, 0) 90%
				);
				bottom: 0;
				color: $light-text-color;
				display: flex;
				flex-flow: column nowrap;
				height: 100%;
				justify-content: flex-end;
				left: 0;
				padding: 1rem;
				position: absolute;
				transition: all 0.5s ease;

				h2 {
					color: $light-text-color;
					font-size: $fz-lg;
					padding: 0;
					text-shadow: 0px 0px 10px $shadow-color;
					transition: all 0.5s ease;
				}

				p {
					display: -webkit-box;
					font: $fz-md $mono;
					height: 0;
					padding: 0 1rem;
					text-shadow: 0px 0px 10px $shadow-color;
					text-overflow: ellipsis;
					transition: all 0.5s ease;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				.mobile {
					color: $main-text-color;
					margin-top: 1rem;
				}
			}
		}
	}

	.controls {
		align-items: center;
		display: flex;
		height: 100%;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;

		button {
			background: none;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			height: 50px;
			pointer-events: all;
			position: absolute;
			text-align: center;
			transition: 0.3s ease all;
			width: 50px;

			svg {
				filter: drop-shadow(0 0 3px $shadow-color);
				fill: $light-text-color;
				height: 100%;
				transition: 0.3s ease all;
				width: 100%;
			}

			&:hover, &:active, &:focus {
				outline-offset: 0;
				transform: scale(1.1);

				svg {
					filter: drop-shadow(0 0 3px $secondary-color);
					fill: $main-color;
				}
			}

			&:active {
				transform: scale(0.9);
			}

			&.prev {
				left: 0;
			}

			&.next {
				right: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.container .slideshow .slide {
		min-width: 50%;
	}
}

@media (min-width: 1024px) {
	.container .slideshow .slide {
		min-width: 33.33%;
	}
}
