@use "styles/variables.scss";

.container {
	margin: 0 auto;
	max-width: 115rem;
	overflow: hidden;
	position: relative;

	.slideshow {
		display: flex;
		flex-wrap: nowrap;
		will-change: transform, transition;

		.slide {
			display: flex;
			justify-content: center;
			min-height: 16rem;
			min-width: 100%;
			padding: 1rem;

			.content {
				background: none;
				border: none;
				border-radius: 1rem;
				cursor: pointer;
				min-width: inherit;
				position: relative;
				transition: 0.3s ease all;

				&:hover,
				&:active,
				&:focus {
					img {
						filter: brightness(0.5);
					}

					& > h2 {
						opacity: 0;
					}

					.description {
						transform: scaleY(1);
					}
				}

				img {
					border-radius: 1rem;
					height: 100%;
					object-fit: cover;
					transition: all 0.3s ease;
					vertical-align: top;
					width: 100%;
					will-change: filter;
				}

				& > h2 {
					background: linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.9) 10%,
						rgba(0, 0, 0, 0.7) 30%,
						rgba(0, 0, 0, 0.4) 60%,
						rgba(0, 0, 0, 0) 100%,
					);
					bottom: 0;
					color: variables.$light-text-color;
					font-size: variables.$fz-lg;
					padding: 1rem;
					position: absolute;
					text-shadow: 0px 0px 10px variables.$shadow-color;
					width: 100%;
					will-change: color;
				}
			}

			.description {
				bottom: 0;
				color: variables.$light-text-color;
				display: flex;
				flex-flow: column nowrap;
				height: 100%;
				left: 0;
				justify-content: center;
				padding: 1rem;
				position: absolute;
				transform: scaleY(0);
				transition: all 0.3s ease;

				h2 {
					bottom: 0;
					color: variables.$main-text-color;
					font-size: variables.$fz-lg;
					padding: 0;
					text-shadow: 0px 0px 10px variables.$shadow-color;
					transition: all 0.5s ease;
					will-change: color;
				}

				p:first-of-type {
					margin: 0.5rem 0;
				}

				p {
					display: -webkit-box;
					font: variables.$fz-md variables.$font;
					padding: 0 1rem;
					text-shadow: 0px 0px 10px variables.$shadow-color;
					text-overflow: ellipsis;
					transition: all 0.5s ease;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					will-change: transform;
				}

				.info {
					color: variables.$main-text-color;
				}
			}
		}
	}

	.controls {
		align-items: center;
		display: flex;
		height: 100%;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;

		button {
			background: none;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			height: 50px;
			pointer-events: all;
			position: absolute;
			text-align: center;
			transition: 0.3s ease all;
			width: 50px;

			svg {
				filter: drop-shadow(0 0 3px variables.$shadow-color);
				fill: variables.$light-text-color;
				height: 100%;
				transition: 0.3s ease all;
				width: 100%;
			}

			&:hover, &:active, &:focus {
				outline-offset: 0;
				transform: scale(1.1);

				svg {
					filter: drop-shadow(0 0 3px variables.$secondary-color);
					fill: variables.$main-color;
				}
			}

			&:active {
				transform: scale(0.9);
			}

			&.prev {
				left: 0;
			}

			&.next {
				right: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.container .slideshow .slide {
		min-height: 23.5rem;
		min-width: 50%;
	}
}

@media (min-width: 1024px) {
	.container .slideshow .slide {
		min-height: 21.5rem;
		min-width: 33.33%;
	}
}
