@import "styles/variables.scss";

main {
	& > h1 {
		padding: 0 1rem 0;
	}

	section {
		padding: 1rem;
	}

	article {
		font: $fz-md $mono;
		line-height: 1.6;
		padding: 0 2rem 2rem;
		margin: 5rem auto;
		max-width: 115rem;
		width: 100%;

		h1 {
			font-size: clamp(2rem, 3.33vw, 4rem);
		}

		h2 {
			font-size: clamp($fz-lg, 3vw, 3.8rem);
		}

		& > p {
			color: $light-text-color;
			letter-spacing: 0.1rem;
			padding-bottom: 2rem;
		}

		strong {
			color: $main-text-color;
			font: $fz-md $mono;
		}

		span {
			color: $red-color;
			font: $fz-md $mono;
		}

		blockquote {
			border-radius: 1rem;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			border: 1px solid $stroke-bloquote;
			background-color: $body-bg;
			box-shadow: -4px 0 0 $main-text-color;
			font: oblique lighter $fz-md $mono;
			left: 4px;
			padding: 2rem;
			position: relative;
			margin: 2rem 0;

			&::before {
				color: $secondary-color;
				content: "„";
				font: bold 10rem Arial, "Helvetica Neue", Helvetica, sans-serif;
				line-height: 0;
				position: absolute;
				right: 0;
				text-align: right;
				top: -4rem;
			}
		}

		ul,
		ol {
			margin-left: 2rem;

			li {
				margin-bottom: 1rem;
			}
		}

		ul li::marker,
		ol li::marker {
			color: $main-text-color;
			font-weight: bold;
		}

		ol {
			list-style: decimal-leading-zero outside;
			margin-left: 3rem;
		}

		ul ul,
		ol ol,
		ul ol,
		ol ul {
			margin: 1rem 0 0 1.5rem;
		}
	}
}
