@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import "./variables.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;

	body {
		background-color: $body-bg;
		color: $light-text-color;
		font-family: $mono;

		a {
			text-decoration: none;
		}

		main {
			max-height: calc(100vh - 6rem);
		}

		main,
		aside {
			scroll-behavior: smooth;
			overflow-y: auto;

			&::-webkit-scrollbar {
				background-color: transparent;
				width: 12px;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				// Variable --main-color with opacity
				background-color: rgba($main-color, 0.6);
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: $main-color;
			}
		}
	}
}

:focus {
	outline: none;
}
