$header-bg: #000028;
$aside-bg: #000028;
$body-bg: #000018;
$footer-bg: #000028;
$hover-bg: #000038;
$main-color: #16ffe2;
$secondary-color: #10eed2;
$red-color: #ff6666;
$main-text-color: #10eed2;
$light-text-color: #ccddff;
$dark-text-color: #000000;
$text-color: #ccddff;
$shadow-color: #000000;
$stroke-color: #a3b0d4;
$stroke-bloquote: #02202c;
$mono: "Ubuntu", sans-serif;
$fz-xxs: 1.2rem;
$fz-xs: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 1.8rem;
