$header-bg: #000028;
$body-bg: #000018;
$footer-bg: #000028;
$main-color: #16ffe2;
$main-color-secondary: rgba($main-color, 0.8);
$color: black;
$light-color: #ccddff;
$red-color: #cc0000;
$shadow-color: #000000;
$mono: 'Ubuntu', sans-serif;
$fz-xxs: 1.2rem;
$fz-xs: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 1.8rem;