@import 'styles/variables.scss';

.progress {
    border-radius: 0px;
    display: flex;
    height: 5px;
    line-height: 5px;
    position: sticky;
    bottom: 0;
    left: 0;
    vertical-align: 10px;
    width: 100%;

  &[value]::-webkit-progress-bar {
      background-color: $body-bg;
  }

  &::-webkit-progress-value {
      background-color: $main-color !important;
      border-radius: 0px;
  }

  &::-webkit-progress-bar {
      border-radius: 0px;
  }

  &::-webkit-progress-value {
      border-radius: 0px;
  }

  &::-moz-progress-bar {
      border-radius: 0px;
  }
}