@import "styles/variables.scss";

$title-types: "h1" "h2" "h3" "h4" "h5" "h6";

$title-sizes: (
	"h1": (
		"min": 3.75rem,
		"max": 4rem,
	),
	"h2": (
		"min": 3.25rem,
		"max": 3.5rem,
	),
	"h3": (
		"min": 2.75rem,
		"max": 3rem,
	),
	"h4": (
		"min": 2.25rem,
		"max": 2.5rem,
	),
	"h5": (
		"min": 1.75rem,
		"max": 2rem,
	),
	"h6": (
		"min": 1.75rem,
		"max": 1.75rem,
	),
);

// Cicle through all the title types
@each $type in $title-types {
	// Class name for each title type
	.#{$type} {
		// Get the sizes for each title type
		$sizes: map-get($title-sizes, $type);

		color: $main-text-color;
		font: bold clamp(map-get($sizes, "min"), 7vw, map-get($sizes, "max")) $mono;
		text-align: center;
		padding-block: 2rem;

		@if ($type == "h1") {
			padding-block-start: 1rem;
		}
	}
}
