@use "styles/variables.scss";

.main {
	margin-block-start: 6rem;
	max-height: calc(100vh - 6rem);

	&:not(.post) {
		display: flex;
		flex-flow: column nowrap;
		max-height: calc(100vh - 6rem);
		min-height: calc(100vh - 6rem);

		section {
			padding: 1rem;
		}

		article {
			max-width: 115rem;
		}
	}

	&.post {
		margin-left: 3.2rem;
	}

	article {
		font: variables.$fz-md variables.$font;
		line-height: 1.6;
		padding: 0 2rem 2rem;
		margin: 0 auto 5rem;
		max-width: 86rem;
		width: 100%;

		section {
			margin-bottom: 2rem;
			
			h1,
			h2 {
				background-color: variables.$body-bg;
				padding: 2rem 0;
				position: sticky;
				top: 0;
				z-index: 1;
			}
			
			h1 {
				font-size: clamp(2rem, 3.33vw, 4rem);
			}
			
			h2 {
				font-size: clamp(variables.$fz-lg, 3vw, 3.8rem);
			}
			
			& > p {
				color: variables.$light-text-color;
				letter-spacing: 0.1rem;
				padding-bottom: 2rem;
			}
			
			strong {
				color: variables.$main-text-color;
				font: variables.$fz-md variables.$font;
			}
			
			span {
				color: variables.$red-color;
				font: variables.$fz-md variables.$font;
			}
			
			blockquote {
				border-radius: 1rem;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				border: 1px solid variables.$stroke-bloquote;
				background-color: variables.$body-bg;
				box-shadow: -4px 0 0 variables.$main-text-color;
				font: oblique lighter variables.$fz-md variables.$font;
				left: 4px;
				padding: 2rem;
				position: relative;
				margin: 2rem 0;
				
				&::before {
				color: variables.$secondary-color;
				content: "„";
				font: bold 10rem Arial, "Helvetica Neue", Helvetica, sans-serif;
				line-height: 0;
				position: absolute;
				right: 0;
				text-align: right;
				top: -4rem;
			}
		}

		ul,
		ol {
			margin-left: 2rem;
			
			li {
				margin-bottom: 1rem;
				
				p {
					margin-top: 1rem;
				}
			}
		}
		
		ul li::marker,
		ol li::marker {
			color: variables.$main-text-color;
		}
		
		ol {
			list-style: decimal-leading-zero outside;
			margin-left: 3rem;
		}
		
		ul ul,
		ol ol,
		ul ol,
		ol ul {
			margin: 1rem 0 0 1.5rem;
		}
		
		a {
			background-image: linear-gradient(
				to left,
				red,
				orange,
				yellow,
				green,
				cyan,
				blue,
				violet,
				purple,
				red,
				orange,
				yellow
				);
				color: transparent;
				background-clip: text;
				background-size: 500%;
				
				&:hover, &:active, &:focus {
					outline: none;
					animation: color 5s linear infinite;
				}
			}
		}
	}
}

@keyframes color {
	from {
		background-position: 0% 50%;
	}

	to {
		background-position: 100% 50%;
	}
}
