@import "styles/variables.scss";

.header {
	align-items: center;
	background: $header-bg;
	box-shadow: 0px 0px 10px $shadow-color;
	display: flex;
	left: 0;
	height: 6rem;
	justify-content: space-between;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;

	.logo a {
		align-items: center;
		color: $light-text-color;
		cursor: pointer;
		display: flex;
		font: bold 2.5rem $mono;
		margin-inline-end: 1rem;
		transition: color 0.2s ease-in-out;
		white-space: nowrap;

		&:hover, &:active, &:focus {
			color: $main-color;
		}

		svg {
			fill: $main-color;
			height: 3rem;
			margin-inline-end: 1rem;
			width: 3.4rem;
		}
	}

	.hamburger {
		background-color: transparent;
		border: none;
		cursor: pointer;
		min-width: 3.2rem;
		position: relative;
		z-index: 3;

		&:hover {
			line {
				stroke: $main-color;
			}
		}

		line {
			stroke: $main-text-color;
			stroke-width: 10%;
			stroke-linecap: round;
			transition: stroke 0.3s ease-in-out;
		}

		& {
			.top {
				animation: top-off 0.5s;
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-o-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}

			.middle {
				animation: middle-off 0.5s;
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-o-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}

			.bottom {
				animation: bottom-off 0.5s;
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-o-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}

			&.open {
				.top {
					animation: top-on 0.5s;
					-webkit-animation-fill-mode: forwards;
					-moz-animation-fill-mode: forwards;
					-o-animation-fill-mode: forwards;
					-ms-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
				}

				.middle {
					animation: middle-on 0.5s;
					-webkit-animation-fill-mode: forwards;
					-moz-animation-fill-mode: forwards;
					-o-animation-fill-mode: forwards;
					-ms-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
				}

				.bottom {
					animation: bottom-on 0.5s;
					-webkit-animation-fill-mode: forwards;
					-moz-animation-fill-mode: forwards;
					-o-animation-fill-mode: forwards;
					-ms-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
				}
			}

			@keyframes top-on {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: translate(25%, 0%) rotate(45deg);
				}
			}

			@keyframes middle-on {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: translate(-25%, 50%) rotate(-45deg);
				}
			}

			@keyframes bottom-on {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(45deg) translate(16%, -76%);
				}
			}

			@keyframes top-off {
				from {
					transform: translate(25%, 0%) rotate(45deg);
				}

				to {
					transform: rotate(0deg);
				}
			}

			@keyframes middle-off {
				from {
					transform: translate(-25%, 50%) rotate(-45deg);
				}

				to {
					transform: rotate(0deg);
				}
			}

			@keyframes bottom-off {
				from {
					transform: rotate(45deg) translate(16%, -76%);
				}

				to {
					transform: rotate(0deg);
				}
			}
		}
	}

	.menu {
		animation: closeMenu 0.5s ease-in-out forwards;
		background-color: $header-bg;
		box-shadow: 0px 0px 10px $shadow-color;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		max-width: 25rem;
		padding: 2rem;
		position: fixed;
		top: 0;
		visibility: hidden;
		width: 100%;
		z-index: 2;

		&.open {
			animation: openMenu 0.3s ease-in-out forwards;
			
		}
	}

	.menuBackdrop {
		background-color: rgba(3, 9, 30, 0.6);
		border: none;
		display: block;
		// backdrop-filter: blur(3px);
		left: 0;
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 1;
	}

	.nav {
		display: none;
	}

	.navList {
		list-style: none;
		margin: 2rem 0;

		li {
			margin: 1rem 0;

			a {
				color: $light-text-color;
				font: bold $fz-lg $mono;
				text-decoration: none;
				position: relative;
				width: fit-content;

				&:before {
					content: "";
					position: absolute;
					bottom: -2px;
					left: 0px;
					right: 0px;
					height: 2px;
					background-color: $main-text-color;
					transform-origin: right bottom;
					transform: scaleX(0);
					transition: transform 0.5s ease 0s;
				}

				&:hover, &:active, &:focus {
					color: $main-text-color;
					outline: none;

					&:before {
						transform-origin: left bottom;
						transform: scaleX(1);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.header {
		.hamburger,
		.menu {
			display: none;
		}

		.nav {
			display: initial;

			.navList {
				display: flex;
				justify-content: center;

				li {
					margin: 0 1rem;
				}
			}
		}
	}
}

@keyframes openMenu {
	from {
		right: -100%;
		visibility: hidden;
	}

	to {
		right: 0;
		visibility: visible;
	}
}

@keyframes closeMenu {
	from {
		right: 0;
		visibility: visible;
	}

	to {
		right: -100%;
		visibility: hidden;
	}
}