@use "styles/variables.scss";

.header {
	align-items: center;
	background: variables.$header-bg;
	box-shadow: 0px 0px 10px variables.$shadow-color;
	display: flex;
	left: 0;
	height: 6rem;
	justify-content: space-between;
	padding: 0 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	&__logo {
		border-radius: 50%;
		cursor: pointer;
		transition: transform 0.3s ease-in-out;
		outline-offset: 5px;
		will-change: transform;

		&:hover,
		&:focus {
			transform: scale(1.1);
		}

		&:active {
			transform: scale(1);
		}

		svg {
			border-radius: 50%;
			position: relative;
			z-index: 2;
		}
	}

	&__hamburger {
		background-color: transparent;
		border: none;
		cursor: pointer;
		min-width: 3.2rem;
		position: relative;
		z-index: 2;

		&:hover {
			line {
				stroke: variables.$main-color;
			}
		}

		line {
			stroke: variables.$main-color;
			stroke-width: 10%;
			stroke-linecap: round;
			transition: stroke 0.3s ease-in-out;
		}

		&_top {
			animation: top-off 0.5s;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-o-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}

		&_middle {
			animation: middle-off 0.5s;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-o-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}

		&_bottom {
			animation: bottom-off 0.5s;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-o-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}

		&_active {
			.header__hamburger_top {
				animation: top-on 0.5s;
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-o-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}

			.header__hamburger_middle {
				animation: middle-on 0.5s;
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-o-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}

			.header__hamburger_bottom {
				animation: bottom-on 0.5s;
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-o-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}
		}

		@keyframes top-on {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: translate(25%, 0%) rotate(45deg);
			}
		}

		@keyframes middle-on {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: translate(-25%, 50%) rotate(-45deg);
			}
		}

		@keyframes bottom-on {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(45deg) translate(16%, -76%);
			}
		}

		@keyframes top-off {
			from {
				transform: translate(25%, 0%) rotate(45deg);
			}

			to {
				transform: rotate(0deg);
			}
		}

		@keyframes middle-off {
			from {
				transform: translate(-25%, 50%) rotate(-45deg);
			}

			to {
				transform: rotate(0deg);
			}
		}

		@keyframes bottom-off {
			from {
				transform: rotate(45deg) translate(16%, -76%);
			}

			to {
				transform: rotate(0deg);
			}
		}
	}

	&__menu {
		background: variables.$aside-bg;
		box-shadow: 0px 0px 10px variables.$shadow-color;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		max-width: 25rem;
		padding: 2rem;
		position: fixed;
		right: 0;
		transform: translateX(100%);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		top: 0;
		visibility: hidden;
		width: 80vw;
		will-change: transform, visibility;
		z-index: 1;

		&_open {
			transform: translateX(0);
			visibility: visible;
		}

		&_list {
			list-style: none;
			margin: 2rem 0;

			li {
				margin: 1rem 0;

				a {
					color: variables.$light-text-color;
					font: bold variables.$fz-lg variables.$font;
					text-decoration: none;
					position: relative;
					width: fit-content;

					&:before {
						content: "";
						position: absolute;
						bottom: -2px;
						left: 0px;
						right: 0px;
						height: 2px;
						background-color: variables.$main-text-color;
						transform-origin: right bottom;
						transform: scaleX(0);
						transition: transform 0.5s ease 0s;
					}

					&:hover,
					&:active,
					&:focus {
						color: variables.$main-text-color;
						outline: none;

						&:before {
							transform-origin: left bottom;
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}

	&__backdrop {
		background-color: rgba(3, 9, 30, 0.6);
		border: none;
		display: block;
		backdrop-filter: blur(2px);
		left: 0;
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100vw;
	}

	&__nav {
		display: none;

		&_list {
			list-style: none;
			margin: 2rem 0;

			li {
				margin: 1rem 0;

				a {
					color: variables.$light-text-color;
					font: bold variables.$fz-lg variables.$font;
					text-decoration: none;
					position: relative;
					width: fit-content;

					&:before {
						content: "";
						position: absolute;
						bottom: -2px;
						left: 0px;
						right: 0px;
						height: 2px;
						background-color: variables.$main-text-color;
						transform-origin: right bottom;
						transform: scaleX(0);
						transition: transform 0.5s ease 0s;
					}

					&:hover,
					&:active,
					&:focus {
						color: variables.$main-text-color;
						outline: none;

						&:before {
							transform-origin: left bottom;
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__hamburger,
		&__menu {
			display: none;
		}

		&__nav {
			display: initial;

			&_list {
				display: flex;
				justify-content: center;

				li {
					margin: 0 1rem;
				}
			}
		}
	}
}
