@import "styles/variables.scss";

.footer {
	background-color: $footer-bg;
	padding: 2rem;

	.social {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		margin: 0 auto;
		max-width: 30rem;

		a {
			svg {
				border-radius: 50%;
				height: 3rem;
				fill: $light-text-color;
				transition: all 0.2s ease-in-out;
				width: 3rem;
			}

			&:hover, &:active, &:focus {
				outline: none;
				svg {
					fill: $main-color;
					transform: scale(1.15);
				}
			}
		}
	}
}
