@use "styles/variables.scss";

.footer {
	background-color: variables.$footer-bg;
	height: 7rem;
	padding: 2rem;
	margin-top: auto;

	&__social {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		margin: 0 auto;
		max-width: 30rem;

		a {
			svg {
				border-radius: 50%;
				height: 3rem;
				fill: variables.$light-text-color;
				transition: all 0.2s ease-in-out;
				width: 3rem;
				will-change: filter, transform;
			}

			&:hover,
			&:active,
			&:focus {
				outline: none;
				svg {
					fill: variables.$main-color;
					transform: scale(1.15);
				}
			}
		}
	}
}
